/*.container{
    display: inline-grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 30px 30px 30px;
}*/
.container{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 30px 80px 30px;
    grid-template-areas: "cabecalho cabecalho"
    "lateral conteudo"
    "rodape rodape";
    text-align: center;
    gap: 20px 5px;
    /*justify-items: center;
    align-items: center;
   /* border: 1px solid;*/
   text-align: center;
   justify-content: center;
}
.cabecalho{
    grid-area: cabecalho;
    border: 1px solid;
}
.lateral{
    grid-area: lateral;
    border: 1px solid;
}
.conteudo{
    grid-area: conteudo;
    border: 1px solid;
}
.rodape{
    grid-area: rodape;
    border: 1px solid;
}
.container01{
    display: grid;
    grid-template-areas: "linha1 linha1 linha1"
    "linha2 linha3 linha3"
    "linha4 linha4 linha4";
    text-align: center;
    grid-auto-rows: 100px;
    grid-auto-columns: 20%;
    gap: 10px;
}
.linha1{ 
    grid-area: linha1;
}
.linha2{
    grid-area: linha2;
}
.linha3{
    grid-area: linha3;
    
}
.linha4{
    grid-area: linha4;
}
.linha1, .linha2, .linha3, .linha4{
    border: 2px solid blue;
}