* {
    text-align: center;

}

body {
    text-align: center;
    background-image: url(../_imagens/japao.jpg);
}
h1{
    color: rgb(213, 132, 132);
    font-family: Arial;
    text-shadow: 1px 1px black;
}
table {
    width: 100%;
    height: 90px;
    border: 5px solid rgb(250, 101, 101);
}

tr,
th,
td { height: 100%;
    list-style-type: unset;
    text-align: center;
    border: 4px solid rgb(246, 245, 216);
    background-color: rgb(216, 214, 214);

}

img {
    width: 45%;
    height: 106px;
}

th {
    background-color: rgb(138, 134, 134);
    color: white;
    background-color: rgb(134, 19, 19);
}

hr {
    background-color: rgb(235, 122, 162);
    height: 15px;
    font-weight: 100;
}

form {
    width: 50%;
    margin: 0 auto;
    border: 5px solid #fff9ed;
}

input {
    width: 98.8%;
    height: 11%;
    text-align: left;
    border: 3px solid #fff9ed;
    background-color: rgb(237, 232, 225);
    margin: 0.5px;
}

#submits {
    width: 99.8%;
    text-align: right;
    color: red;
    text-shadow: 1px 1px black;
}

h3 {
    color: white;
    font-family: cursive;

}